<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Push Horse</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <main role="main">
      <!-- Navigation -->
      <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <%= link("Log in", to: session_path(@conn, :new), class: "nav-link") %>
              </li>
              <li class="nav-item">
                <%= link("Sign Up", to: registration_path(@conn, :new), class: "nav-link") %>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <!-- Header -->
      <header class="masthead">
        <div class="container">
          <img class="img-fluid" src="img/profile.png" alt="">
          <div class="intro-text">
            <span class="name">Push Horse</span>
            <span class="skills">Simplicity & Visibility</span>
          </div>

          <br/>
          <div class="row">
            <div class="col-sm-12 center-align">
              <%= link('Get started', to: registration_path(@conn, :new), class: "btn btn-success btn-lg") %>
            </div>
          </div>
        </div>
      </header>

      <!-- Portfolio Grid Section -->
      <section id="portfolio">
        <div class="container">
          <h2 class="text-center">Simplicity</h2>
          <br/>
          <div class="row">
            <div class="col-md-12">
              <p>
                We want you to be able to start sending push notifications as simply and quickly as possible. We get out of your way by streamlining the application creation process and allowing you to test from our web UI.
              </p>
            </div>
          </div>
        </div>
      </section>

      <!-- About Section -->
      <section class="success" id="about">
        <div class="container">
          <h2 class="text-center">About</h2>
          <br/>
          <div class="row">
            <div class="col-md-12">
              <p>
                We provide all the important information you need about the lifetime of your push notifications allowing you debug more efficiently and monitor more effectively.
              </p>
            </div>
          </div>
        </div>
      </section>

      <!-- Footer -->
      <footer class="text-center">
        <div class="footer-above">
          <div class="container">
            <div class="row">
              <div class="footer-col col-md-4">
                <h3>Location</h3>
                <p>3481 Melrose Place
                  <br>Beverly Hills, CA 90210</p>
              </div>
              <div class="footer-col col-md-4">
                <h3>Around the Web</h3>
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <a class="btn-social btn-outline" href="#">
                      <i class="fa fa-fw fa-facebook"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a class="btn-social btn-outline" href="#">
                      <i class="fa fa-fw fa-google-plus"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a class="btn-social btn-outline" href="#">
                      <i class="fa fa-fw fa-twitter"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a class="btn-social btn-outline" href="#">
                      <i class="fa fa-fw fa-linkedin"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a class="btn-social btn-outline" href="#">
                      <i class="fa fa-fw fa-dribbble"></i>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="footer-col col-md-4">
                <h3>About Freelancer</h3>
                <p>Freelance is a free to use, open source Bootstrap theme created by
                  <a href="http://startbootstrap.com">Start Bootstrap</a>.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-below">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                Copyright &copy; Your Website 2017
              </div>
            </div>
          </div>
        </div>
      </footer>

      <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
      <div class="scroll-top d-lg-none">
        <a class="btn btn-primary js-scroll-trigger" href="#page-top">
          <i class="fa fa-chevron-up"></i>
        </a>
      </div>

      <!-- Portfolio Modals -->
      <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                <div class="rl"></div>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-lg-8 mx-auto">
                  <div class="modal-body">
                    <h2>Project Title</h2>
                    <hr class="star-primary">
                    <img class="img-fluid img-centered" src="img/portfolio/cabin.png" alt="">
                    <p>Use this area of the page to describe your project. The icon above is part of a free icon set by
                      <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                    <ul class="list-inline item-details">
                      <li>Client:
                        <strong>
                          <a href="http://startbootstrap.com">Start Bootstrap</a>
                        </strong>
                      </li>
                      <li>Date:
                        <strong>
                          <a href="http://startbootstrap.com">April 2014</a>
                        </strong>
                      </li>
                      <li>Service:
                        <strong>
                          <a href="http://startbootstrap.com">Web Development</a>
                        </strong>
                      </li>
                    </ul>
                    <button class="btn btn-success" type="button" data-dismiss="modal">
                      <i class="fa fa-times"></i>
                      Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                <div class="rl"></div>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-lg-8 mx-auto">
                  <div class="modal-body">
                    <h2>Project Title</h2>
                    <hr class="star-primary">
                    <img class="img-fluid img-centered" src="img/portfolio/cake.png" alt="">
                    <p>Use this area of the page to describe your project. The icon above is part of a free icon set by
                      <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                    <ul class="list-inline item-details">
                      <li>Client:
                        <strong>
                          <a href="http://startbootstrap.com">Start Bootstrap</a>
                        </strong>
                      </li>
                      <li>Date:
                        <strong>
                          <a href="http://startbootstrap.com">April 2014</a>
                        </strong>
                      </li>
                      <li>Service:
                        <strong>
                          <a href="http://startbootstrap.com">Web Development</a>
                        </strong>
                      </li>
                    </ul>
                    <button class="btn btn-success" type="button" data-dismiss="modal">
                      <i class="fa fa-times"></i>
                      Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                <div class="rl"></div>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-lg-8 mx-auto">
                  <div class="modal-body">
                    <h2>Project Title</h2>
                    <hr class="star-primary">
                    <img class="img-fluid img-centered" src="img/portfolio/circus.png" alt="">
                    <p>Use this area of the page to describe your project. The icon above is part of a free icon set by
                      <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                    <ul class="list-inline item-details">
                      <li>Client:
                        <strong>
                          <a href="http://startbootstrap.com">Start Bootstrap</a>
                        </strong>
                      </li>
                      <li>Date:
                        <strong>
                          <a href="http://startbootstrap.com">April 2014</a>
                        </strong>
                      </li>
                      <li>Service:
                        <strong>
                          <a href="http://startbootstrap.com">Web Development</a>
                        </strong>
                      </li>
                    </ul>
                    <button class="btn btn-success" type="button" data-dismiss="modal">
                      <i class="fa fa-times"></i>
                      Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                <div class="rl"></div>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-lg-8 mx-auto">
                  <div class="modal-body">
                    <h2>Project Title</h2>
                    <hr class="star-primary">
                    <img class="img-fluid img-centered" src="img/portfolio/game.png" alt="">
                    <p>Use this area of the page to describe your project. The icon above is part of a free icon set by
                      <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                    <ul class="list-inline item-details">
                      <li>Client:
                        <strong>
                          <a href="http://startbootstrap.com">Start Bootstrap</a>
                        </strong>
                      </li>
                      <li>Date:
                        <strong>
                          <a href="http://startbootstrap.com">April 2014</a>
                        </strong>
                      </li>
                      <li>Service:
                        <strong>
                          <a href="http://startbootstrap.com">Web Development</a>
                        </strong>
                      </li>
                    </ul>
                    <button class="btn btn-success" type="button" data-dismiss="modal">
                      <i class="fa fa-times"></i>
                      Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                <div class="rl"></div>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-lg-8 mx-auto">
                  <div class="modal-body">
                    <h2>Project Title</h2>
                    <hr class="star-primary">
                    <img class="img-fluid img-centered" src="img/portfolio/safe.png" alt="">
                    <p>Use this area of the page to describe your project. The icon above is part of a free icon set by
                      <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                    <ul class="list-inline item-details">
                      <li>Client:
                        <strong>
                          <a href="http://startbootstrap.com">Start Bootstrap</a>
                        </strong>
                      </li>
                      <li>Date:
                        <strong>
                          <a href="http://startbootstrap.com">April 2014</a>
                        </strong>
                      </li>
                      <li>Service:
                        <strong>
                          <a href="http://startbootstrap.com">Web Development</a>
                        </strong>
                      </li>
                    </ul>
                    <button class="btn btn-success" type="button" data-dismiss="modal">
                      <i class="fa fa-times"></i>
                      Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                <div class="rl"></div>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-lg-8 mx-auto">
                  <div class="modal-body">
                    <h2>Project Title</h2>
                    <hr class="star-primary">
                    <img class="img-fluid img-centered" src="img/portfolio/submarine.png" alt="">
                    <p>Use this area of the page to describe your project. The icon above is part of a free icon set by
                      <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                    <ul class="list-inline item-details">
                      <li>Client:
                        <strong>
                          <a href="http://startbootstrap.com">Start Bootstrap</a>
                        </strong>
                      </li>
                      <li>Date:
                        <strong>
                          <a href="http://startbootstrap.com">April 2014</a>
                        </strong>
                      </li>
                      <li>Service:
                        <strong>
                          <a href="http://startbootstrap.com">Web Development</a>
                        </strong>
                      </li>
                    </ul>
                    <button class="btn btn-success" type="button" data-dismiss="modal">
                      <i class="fa fa-times"></i>
                      Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script>
      !function(o){"use strict";o('a.js-scroll-trigger[href*="#"]:not([href="#"])').click(function(){if(location.pathname.replace(/^\//,"")==this.pathname.replace(/^\//,"")&&location.hostname==this.hostname){var a=o(this.hash);if((a=a.length?a:o("[name="+this.hash.slice(1)+"]")).length)return o("html, body").animate({scrollTop:a.offset().top-48},1e3,"easeInOutExpo"),!1}}),o(".js-scroll-trigger").click(function(){o(".navbar-collapse").collapse("hide")}),o("body").scrollspy({target:"#mainNav",offset:54}),o(window).scroll(function(){o("#mainNav").offset().top>100?o("#mainNav").addClass("navbar-shrink"):o("#mainNav").removeClass("navbar-shrink")}),o(function(){o("body").on("input propertychange",".floating-label-form-group",function(a){o(this).toggleClass("floating-label-form-group-with-value",!!o(a.target).val())}).on("focus",".floating-label-form-group",function(){o(this).addClass("floating-label-form-group-with-focus")}).on("blur",".floating-label-form-group",function(){o(this).removeClass("floating-label-form-group-with-focus")})})}(jQuery);
    </script>
  </body>
</html>
