<h1 class="display-4" >Getting Started</h4>
  <p class="lead">Complete these few simple steps to start sending push notifications.</p>

  <br/>

  <%= render "steps_indicator.html" %>

  <br/>

  <p class="lead">Add the platform you wish to send push notifications on.</p>
  <div class="row">
    <%= for platform_type <- @platform_types do %>
      <div class="col-md-4">
        <div class="card text-center platFormSelector">
          <div class="card-body">
            <p class="card-text">
              <i class="fa <%= platform_type_icon(platform_type) %> fa-5x" aria-hidden="true"></i>
            </p>
            <p><%= platform_type.name %></p>
            <%= link "Add", to: platform_path(@conn, :new, platform_type_id: platform_type.id), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
