<div class="gettingStartedSteps">
  <div class="gettingStartedSteps__progressBar">
    <div class="gettingStartedSteps__progressBar__line" data-now-value="16.66" data-number-of-steps="3" style="width: 16.66%;"></div>
  </div>
  <div class="gettingStartedSteps__step gettingStartedSteps__step-active">
    <div class="gettingStartedSteps__step__icon"><i class="fa fa-user"></i></div>
    <p>Platform</p>
  </div>
  <div class="gettingStartedSteps__step">
    <div class="gettingStartedSteps__step__icon"><i class="fa fa-key"></i></div>
    <p>Authentication</p>
  </div>
  <div class="gettingStartedSteps__step">
    <div class="gettingStartedSteps__step__icon"><i class="fa fa-twitter"></i></div>
    <p>Test Notification</p>
  </div>
</div>
