<br \>

<%= form_for @conn, session_path(@conn, :create), [as: :session], fn f  -> %>
<div class="form-row justify-content-center">
  <div class="form-group col-md-6">
    <%= label f, :email, class: 'col-form-label', for: "inputEmail" %>
    <%= email_input f, :email, id: "inputEmail", placeholder: "Email", class: "form-control #{ if Enum.any?(Keyword.get_values(f.errors, :email)), do: 'is-invalid', else: nil }" %>
    <%= if Enum.any?(Keyword.get_values(f.errors, :email)) do %>
      <div class="invalid-feedback">
        <% {msg, _} = hd(Keyword.get_values(f.errors, :email)) %>
        Email <%= msg %>.
      </div>
    <% end %>
  </div>
</div>

<div class="form-row justify-content-center">
  <div class="form-group col-md-6">
    <%= error_tag f, :password %>

    <%= label f, dgettext("coherence", "Password"), class: 'col-form-label', for: "inputPassword" %>
    <%= password_input f, :password, id: "inputPassword", placeholder: "Password", class: "form-control #{ if Enum.any?(Keyword.get_values(f.errors, :password)), do: 'is-invalid', else: nil }" %>
    <%= if Enum.any?(Keyword.get_values(f.errors, :password)) do %>
      <div class="invalid-feedback">
        <% {msg, _} = hd(Keyword.get_values(f.errors, :password)) %>
        Password <%= msg %>.
      </div>
    <% end %>
  </div>
</div>

<div class="form-row justify-content-center">
  <div class="col-md-6">
    <%= submit "Sign In", class: "btn btn-primary btn-block" %>
  </div>
</div>

<% end %>
