$body-color: #373d44;

$danger: #fd5149 !default;
$primary: #f35b3f !default;
$warning: #EDAE49  !default;
$success: #fd5149 !default;

// https://coolors.co/edae49-00798c-e26d5a-197bbd-293e54
// https://coolors.co/edae49-1a535c-e26d5a-197bbd-293e54
// https://coolors.co/eaebed-a3bac3-065a82-01a7c2-404040
