.gettingStartedSteps {
  overflow: hidden;
  position: relative;
  margin-top: 20px;

  &__progressBar {
    position: absolute;
    top: 24px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #ddd;

    &__line {
      position: absolute;
      top: 0;
      left: 0;
      height: 1px;
      background: #419D78;
    }
  }

  &__step {
    position: relative;
    float: left;
    width: 33.333333%;
    padding: 0 5px;
    text-align: center;

    &__icon {
      display: inline-block;
      width: 40px;
      height: 40px;
      margin-top: 4px;
      background: #ddd;
      font-size: 16px;
      color: #fff;
      line-height: 40px;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
    }

    &-active {
      .gettingStartedSteps__step__icon {
        width:48px;
        height:48px;
        margin-top:0;
        background:#419D78;
        font-size:22px;
        line-height:48px;
      }
    }
  }
  ::-moz-selection{background:#f35b3f;color:#fff;text-shadow:none;}
  ::selection{background:#f35b3f;color:#fff;text-shadow:none;}
}
