/* This file is for your main application css. */

$fa-font-path: "../fonts";
@import "font-awesome";
@import "functions";
@import "bootstrap_overrides"; // It works this way.
@import "variables";
@import "mixins";
@import "print";
@import "reboot";
@import "type";
@import "images";
@import "code";
@import "grid";
@import "tables";
@import "forms";
@import "buttons";
@import "transitions";
@import "dropdown";
@import "button-group";
@import "input-group";
@import "custom-forms";
@import "nav";
@import "navbar";
@import "card";
@import "breadcrumb";
@import "pagination";
@import "badge";
@import "jumbotron";
@import "alert";
@import "progress";
@import "media";
@import "list-group";
@import "close";
@import "modal";
@import "tooltip";
@import "popover";
@import "carousel";
@import "utilities";


.activateAccount {
  background-color: white;

  .activateAccount__message {
  }

  .activateAccount__activateLink {
  }
}

.table {
  th {
    font-weight: 500;
  }
}

.alertLink {
  &:hover {
    i {
      text-decoration: underline;
    }
  }
}

.platFormSelector {
  background-color: #fcfcfc;

  &:hover {
    border: 1px solid rgba(0, 0, 0, 0.250);
  }

  .fa {
    padding: 10px;
  }
}

.subNav {
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  /* box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05); */
}

@import "apiKeysTable";
@import "gettingStartedSteps";
