<%= form_for @changeset, @action, [multipart: true], fn f -> %>
  <%= hidden_input f, :platform_type_id, value: @platform_type_id %>
<div class="form-row justify-content-center">
  <div class="form-group col-md-6">
    <%= text_input f, :p12_password, id: "inputp12Password", placeholder: "P12 Password", class: "form-control #{ if Enum.any?(Keyword.get_values(f.errors, :p12_password)), do: 'is-invalid', else: nil }" %>
    <%= if Enum.any?(Keyword.get_values(f.errors, :p12_password)) do %>
    <div class="invalid-feedback">
      <% {msg, _} = hd(Keyword.get_values(f.errors, :p12_password)) %>
      P12 password <%= msg %>.
    </div>
    <% end %>
  </div>
</div>

<div class="form-row justify-content-center">
  <div class="form-group col-md-6">
    <%= file_input f, :p12_file_path, id: "inputP12Cert", placeholder: "Select file", class: "form-control #{ if Enum.any?(Keyword.get_values(f.errors, :p12_file_path)), do: 'is-invalid', else: nil }" %>
    <%= if Enum.any?(Keyword.get_values(f.errors, :p12_file_path)) do %>
    <div class="invalid-feedback">
      <% {msg, _} = hd(Keyword.get_values(f.errors, :p12_file_path)) %>
      File <%= msg %>.
    </div>
    <% end %>
  </div>
</div>

<div class="form-row justify-content-center">
  <div class="col-md-6">
    <%= submit "Submit", class: "btn btn-primary btn-block" %>
  </div>
</div>
<% end %>

