<div class="card">
  <div class="card-body">
    <h4 class="card-title">Platforms</h4>

    <br/>

    <div class="row">
      <%= for platform_type <- @platform_types do %>
          <div class="col-md-4">
            <div class="card text-center platFormSelector">
              <div class="card-body">
                <p class="card-text">
                  <i class="fa <%= platform_type_icon(platform_type) %> fa-5x" aria-hidden="true"></i>
                </p>
                <p><%= platform_type.name %></p>
                <%= if Enum.member?(Enum.map(@platforms, fn(x) -> x.platform_type.uniq_id end), platform_type.uniq_id) do %>
                  <i class="fa fa-check text-success" aria-hidden="true"></i>
                <% else %>
                  <%= link "Add", to: platform_path(@conn, :new, platform_type_id: platform_type.id), class: 'btn btn-outline-primary' %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
    </div>
  </div>
</div>