<div class="card">
    <div class="card-body">
        <h4 class="card-title">New Platform</h4>
        <p class="card-text">To start sending push notifications to devices, fill out the form below.</p>

        <br/>

        <%= render "form.html", Map.put(assigns, :action, platform_path(@conn, :create)) %>
    </div>
</div>
