<div>
  <p><%= "Hello %{@user.full_name}" %></p>
  <p>
    Your new account is almost ready. Click the link below to confirm.
  </p>
  <p>
    <%= link to: confirmation_url(@conn, :show, @user.confirmation_token) do %>
      Confirm
    <% end %>
  </p>
  <p>Thank you.</p>
</div>
