<div class="card">
  <div class="card-body">
    <h4 class="card-title">Send a test push notification</h4>
    <p class="card-text">Get the device token of the phone you want to send the notification to, then fill out this form to test everything is setup correctly.</p>

    <br/>

    <%= form_for @conn, push_notification_path(@conn, :create), [as: :notification], fn f -> %>
      <div class="form-row justify-content-center">
        <div class="form-group col-md-6">
          <%= label f, dgettext("messaging", "Message"), class: 'col-form-label', for: "inputMessage" %>
          <%= text_input f, :message, class: "form-control", placeholder: dgettext("messaging", "Hello, world.") %>
        </div>
      </div>
      <div class="form-row justify-content-center">
        <div class="form-group col-md-6">
          <%= label f, dgettext("messaging", "Device Token"), class: 'col-form-label', for: "inputDeviceToken" %>
          <%= text_input f, :device_push_token, class: "form-control", placeholder: dgettext("messaging", "123123123123123") %>
        </div>
      </div>
      <div class="form-row justify-content-center">
        <div class="col-md-6">
          <%= submit "Send", class: "btn btn-primary btn-block" %>
        </div>
      </div>
    <% end %>
  </div>
</div>