<h2>Show Push notification</h2>

<ul>

</ul>

<span><%= link "Edit", to: push_notification_path(@conn, :edit, @push_notification) %></span>
<span><%= link "Back", to: push_notification_path(@conn, :index) %></span>
