<%= if @conn.assigns.current_user.confirmed_at === nil do %>
  <div class="row">
    <div class="col-md-12">
      <div class="alert border border-warning activateAccount" role="alert">
        <span class="activateAccount__message">You must confirm your account before you can use it in production.</span>
        <%= link to: confirmation_path(@conn, :create), method: :post, class: "activateAccount__activateLink pull-right" do %>
          Send confirmation email
        <% end %>
      </div>
    </div>
  </div>

  <% end %>
