<%= if get_flash(@conn, :info) do %>
<div class="alert alert-success" role="alert">
  <%= get_flash(@conn, :info) %>
</div>
<% end %>

<%= if get_flash(@conn, :error) do %>
  <div class="ui negative message">
    <i class="close icon"></i>
    <div class="header">
      Error
    </div>
    <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
  </div>
<% end %>
