<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Push Horse</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <main role="main">
      <%= render "navigation.html", conn: @conn %>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <br/>
            <%= render "flash.html", conn: @conn %>
            <%= render "account_activation.html", conn: @conn %>
            <%= render @view_module, @view_template, assigns %>
          </div>
        </div>
      </div>
      </div>
    </main>

    <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
