<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #2c3e50">

  <%= link to: dashboard_path(@conn, :index), class: "navbar-brand" do %>
    <%# <i class="fa fa-home fa-fw" aria-hidden="true"></i> %>
    Home
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link to: platform_path(@conn, :index), class: "nav-link #{ if @conn.request_path == platform_path(@conn, :index), do: 'active', else: nil }" do %>
        <%# <i class="fa fa-mobile fa-fw" aria-hidden="true"></i> %>
        Platforms
        <% end %>
      </li>
      <li class="nav-item">
        <%= link to: push_notification_path(@conn, :new), class: "nav-link #{ if @conn.request_path == push_notification_path(@conn, :new), do: 'active', else: nil }" do %>
        <%# <i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i> %>
        Messages
        <% end %>
      </li>
      <br/>
      <li class="nav-item">
        <%= link to: push_application_path(@conn, :keys), class: "nav-link #{ if @conn.request_path == push_application_path(@conn, :keys), do: 'active', else: nil }" do %>
        <%# <i class="fa fa-terminal fa-fw" aria-hidden="true"></i> %>
        API
        <% end %>
      </li>
      <li class="nav-item">
        <%= link to: '#', class: "nav-link #{ if @conn.request_path == 'fake_path', do: 'active', else: nil }" do %>
        <%# <i class="fa fa-life-ring fa-fw" aria-hidden="true"></i> %>
        Events & logs
        <% end %>
      </li>
      <br/>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">
          <i class="fa fa-toggle-on fa-fw" aria-hidden="true"></i>
          Viewing test data
        </a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa fa-user" aria-hidden="true"></i></a>
      </li>
      <li class="nav-item">
        <%= link "Log out", to: session_path(@conn, :delete), method: :delete, class: "nav-link" %>
      </li>
    </ul>
  </div>
</nav>

<nav class="nav subNav">
  <a class="nav-link active" href="#">Active</a>
  <a class="nav-link" href="#">Link</a>
  <a class="nav-link" href="#">Link</a>
  <a class="nav-link disabled" href="#">Disabled</a>
</nav>
