<h2>Edit Push application</h2>

<%= render "form.html", Map.put(assigns, :action, push_application_path(@conn, :update, @push_application)) %>

<span><%= link "Back", to: push_application_path(@conn, :index) %></span>
