<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :name, class: "control-label" %>
    <%= text_input f, :name, class: "form-control" %>
    <%= error_tag f, :name %>
  </div>

  <div class="form-group">
    <%= label f, :test_api_key, class: "control-label" %>
    <%= text_input f, :test_api_key, class: "form-control" %>
    <%= error_tag f, :test_api_key %>
  </div>

  <div class="form-group">
    <%= label f, :test_secret_key, class: "control-label" %>
    <%= text_input f, :test_secret_key, class: "form-control" %>
    <%= error_tag f, :test_secret_key %>
  </div>

  <div class="form-group">
    <%= label f, :viewing_test_data, class: "control-label" %>
    <%= checkbox f, :viewing_test_data, class: "checkbox" %>
    <%= error_tag f, :viewing_test_data %>
  </div>

  <div class="form-group">
    <%= label f, :live_api_key, class: "control-label" %>
    <%= text_input f, :live_api_key, class: "form-control" %>
    <%= error_tag f, :live_api_key %>
  </div>

  <div class="form-group">
    <%= label f, :live_secret_key, class: "control-label" %>
    <%= text_input f, :live_secret_key, class: "form-control" %>
    <%= error_tag f, :live_secret_key %>
  </div>

  <div class="form-group">
    <%= submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
