<h2>Listing Push applications</h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Test api key</th>
      <th>Test secret key</th>
      <th>Viewing test data</th>
      <th>Live api key</th>
      <th>Live secret key</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for push_application <- @push_applications do %>
    <tr>
      <td><%= push_application.name %></td>
      <td><%= push_application.test_api_key %></td>
      <td><%= push_application.test_secret_key %></td>
      <td><%= push_application.viewing_test_data %></td>
      <td><%= push_application.live_api_key %></td>
      <td><%= push_application.live_secret_key %></td>

      <td class="text-right">
        <span><%= link "Show", to: push_application_path(@conn, :show, push_application), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Edit", to: push_application_path(@conn, :edit, push_application), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Delete", to: push_application_path(@conn, :delete, push_application), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Push application", to: push_application_path(@conn, :new) %></span>
