<div class="card">
  <div class="card-body">
<h4 class="card-title">API Keys</h4>

<div class="alert alert-warning" role="alert">
  <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
  Viewing test API keys, toggle to view live keys

  <div class="pull-right">
    <a class="alert-link disabled alertLink" href="#">
      <i class="fa fa-toggle-on" aria-hidden="true"></i>
      Viewing test data
    </a>
  </div>
</div>

<br/>

<table class="table apiKeysTable">
  <thead class="thead-default">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Token</th>
      <th class="text-right" scope="col">Created</th>
      <th class="text-right" scope="col">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= dgettext("push", "API Key") %></td>
      <td class="apiKeysTable__keyText"><%= @push_application.test_api_key %></td>
      <td class="text-right"><%= @push_application.inserted_at %></td>
      <td class="text-right"><a href="#">Roll key</a></td>
    </tr>
    <tr>
      <td><%= dgettext("push", "Secret Key") %></td>
      <td class="apiKeysTable__keyText"><%= @push_application.test_secret_key %></td>
      <td class="text-right"><%= @push_application.inserted_at %></td>
      <td class="text-right"><a href="#">Roll key</a></td>
    </tr>
  </tbody>
</table>
  </div>
</div>