<h2>Show Push application</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @push_application.name %>
  </li>

  <li>
    <strong>Test api key:</strong>
    <%= @push_application.test_api_key %>
  </li>

  <li>
    <strong>Test secret key:</strong>
    <%= @push_application.test_secret_key %>
  </li>

  <li>
    <strong>Viewing test data:</strong>
    <%= @push_application.viewing_test_data %>
  </li>

  <li>
    <strong>Live api key:</strong>
    <%= @push_application.live_api_key %>
  </li>

  <li>
    <strong>Live secret key:</strong>
    <%= @push_application.live_secret_key %>
  </li>

</ul>

<span><%= link "Edit", to: push_application_path(@conn, :edit, @push_application) %></span>
<span><%= link "Back", to: push_application_path(@conn, :index) %></span>
